<button (click)="getUploadUrl()">Get upload url</button>
<button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>
<form
  method="post"
  encType="multipart/form-data"
  (submit)="submitImage($event)"
>
  <div>
    <strong>Choose photo:</strong>
    <input
      type="file"
      accept=".jpg,.jpeg"
      (change)="setFile($event)"
    />
  </div>
  <div><button type="submit">Submit</button></div>
  <div>
    Load labels:
    <button (click)="loadLabels()">Load</button>
  </div>
  <div>
    Submit blur request:
    <button (click)="blurImage()">Submit</button>
  </div>
</form>
